$browser-prefixes: false !default;

:root {
	// Primary colors
	//colors
	--color_primary: #ff9e00;
	--color_white: #fff;
	--text_color: #272727;
	--para_color: #575757;
	--color_secondary_contrast: #ffffff;
	// Secondary colors
	--color_black: #000000;
	--color_white: #ffffff;

	// Extras
	--container_width: 100%;
	--container_left_space: calc((100% - var(--container_width)) / 2);
	--transition: ease all 300ms;

	@media (min-width: 768px) and (max-width: 991px) {
		--container_width: 750px;
	}

	@media (min-width: 992px) and (max-width: 1199px) {
		--container_width: 970px;
	}

	@media (min-width: 1200px) {
		--container_width: 1170px;
	}

	// @media (min-width: 1401px) {
	//   --container_width: 1360px;
	// }
}
