@import "../helpers/helpers.scss";

.brochure {
	.brochure_section {
		flex-wrap: wrap;
		@extend %f_r_a_center;
		background-color: #ebf0f0;
		padding-right: 60px;
		.brochure_img {
			width: 45%;
			@media only screen and (max-width: 767px) {
				width: 100%;
			}
			img {
				left: -60px;
				position: relative;
			}
		}
		.brochure_info {
			width: 55%;
			@media only screen and (max-width: 767px) {
				width: 100%;
			}
		}
	}
}
