@import "../helpers/helpers.scss";

.service {
	.service_section {
		.service_btn {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.text {
				width: 63%;
			}
			.btn {
				width: 30%;
				text-align: right;
			}
		}
		.service_box {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			.box {
				width: 31%;
			}
		}
	}
}
